html { overflow-x: hidden; background: url("https://cdn.pixabay.com/photo/2025/05/30/14/10/cubes-9631570_1280.jpg"); background-size: 67%; background-attachment: fixed; background-repeat: repeat; background-color: rgba(60, 21, 60, 0.703); font-family: "Trebuchet MS", sans-serif; margin: 0; padding: 0; }
body { display: flex; min-height: 95vh; margin: 2vh 2vw; gap: 2vw; }
main { flex: 3; background-color: rgb(64, 30, 94); color: white; font-size: 1.2em; padding: 2em; border: 5px solid darkcyan; display: flex; flex-direction: column; justify-content: flex-start; border-radius: 10px; }
nav { flex: 1; background-color: bisque; color: black; padding: 2em; border: 5px solid darkcyan; border-radius: 10px; }
#title { text-align: center; font-weight: bold; font-size: 1.3em; margin-bottom: 1em; }
primary { background-color: bisque; width: 67%; margin: 0 auto; border: 1px solid black; color: black; font-size: 0.67em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; border-radius: 0; }
article { background-color: lightcyan; width: 67%; margin: 0 auto; border: 1px solid black; color: black; font-size: 0.67em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; border-radius: 0; display: block;}
primary windowtitle { background-color: darkred; font-weight: bold; display: inline-block; width: 100%; color: white; }
article windowtitle { background-color: pink; font-weight: bold; display: inline-block; width: 100%; color: darkred; }
text { display: inline-block; padding: 0.41%; }
a { color: black; text-decoration: none; display: block; margin-bottom: 1em; }
a: hover { color: darkcyan; text-decoration: underline; }
iframe { padding-left: 2.1%; }

@media (max-width: 768px) { body { flex-direction: column; } main, nav { flex: none; width: 100%; margin: 1em 0; } }
